.markdown-rendered ul li p:last-of-type, .markdown-rendered ol li p:last-of-type {
	margin-block-start: 0px;
	margin-block-end: 10px;
}

.markdown-rendered ul li:last-of-type p:last-of-type,.markdown-rendered uo li:last-of-type p:last-of-type {
	margin-block-end: 0px;	
}
